@use "../variables";

.edit-page-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: variables.$color__white;
  background: variables.$color__purple--500;
  border: 1px solid variables.$color__purple--500;
  padding: 4px 20px;
  border-radius: 1000px;
  font-size: 14px;
  z-index: 10;
  &:hover,
  &:focus,
  &:active {
    color: variables.$color__purple--500;
    background: variables.$color__white;
  }
  @media (max-width: variables.$breakpoint__md) {
    display: none;
  }
}
