---
import Page from "src/layouts/Page.astro";
---

<Page title="Resume">
  <main id="main" class="page-resume">
    <h1 class="page-title sr-only">Resume</h1>

    <div class="page-resume__resume-container">
      <script
        is:inline
        src={`${Astro.locals.runtime.env.RESUME_ORIGIN}/embed.js`}></script>
    </div>
  </main>
  <style lang="scss">
    @use "styles/mixins";
    @use "styles/variables";

    .page-resume {
      padding-top: 60px;
      @include mixins.page-padding-bottom;
      @media (max-width: variables.$breakpoint__md) {
        padding-top: 30px;
      }
    }
    .page-resume__resume-container {
      display: flex;
      justify-content: center;
      padding: 0 20px;
      min-height: 11in;
      @media (max-width: variables.$breakpoint__sm) {
        padding: 0 0;
      }
      .tyler-smith-resume-wrapper {
        width: 100%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

        // 800px is a little after the resume breaks to mobile. Not exact.
        @media (max-width: 800px) {
          border: 1px solid #e9e9e9;
        }

        @media (max-width: variables.$breakpoint__md) {
          padding-left: 10px;
          padding-right: 10px;
        }

        @media (max-width: variables.$breakpoint__sm) {
          padding: 0;
        }
      }
    }
  </style>
</Page>
