---
import { randomUUID } from "node:crypto";

const currentYear = new Date().toLocaleDateString("en-us", {
  year: "numeric",
  timeZone: "America/Los_Angeles",
});

const dateId = `copyright-${randomUUID()}`;
---

&copy;<span id={dateId}>{currentYear}</span> Tyler Smith

<script is:inline data-date-id={dateId}>
  const year = new Date().toLocaleDateString("en-us", {
    year: "numeric",
    timeZone: "America/Los_Angeles",
  });

  const yearDomId = document.currentScript.dataset.dateId;
  document.getElementById(yearDomId).innerHTML = year;
</script>
